<div class="container mt-5">
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Tipos de<b> Contribuyentes</b></h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>nombre</th>
            <th>estado</th>
            <th>Acciones</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tipodoc of tipocont">
            <td>{{ tipodoc.id_tipo_contribuyente }}</td>
            <td>{{ tipodoc.nombre_contribuyente }}</td>
            <td>
              {{ tipodoc.estado_contribuyente ? "activo" : "desactivado" }}
            </td>
            <td>
              <button
                class="btn btn-outline-info"
                [routerLink]="[
                  '/TipoCont/actualizar/',
                  tipodoc.id_tipo_contribuyente
                ]"
              >
                <i class="fa fa-edit">edit</i>
              </button>
              <button
                style="margin-left: 3px"
                class="btn btn-outline-danger"
                (click)="borrarTipoCont(tipodoc.id_tipo_contribuyente)"
              >
                <i class="fa fa-trash">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div align="right">
        <button
          class="btn btn-outline-success"
          type="button"
          [routerLink]="'/TipoCont/crear'"
        >
          Crear
        </button>
      </div>
    </div>
  </div>
</div>
